//-----------------------------
//------Variables--------------
//-----------------------------

//color-variables
$darkRed: darken(red, 20%);
$darkGrey: #bfbfbf;
$lightGrey: #f2f2f2;
$whiteBG: white;
$greyBG: #e6e6e6;
$lightGreen: #009933;
$picOrange: #ff9900;
$picBlue: #0033cc;
$inputHeight: 30px;
$itemHeight: 40px;

//adaptive - variables
$phone: "screen and (min-device-width: 360px) and (max-device-width: 889px)";
$pc: "screen and (min-device-width: 890px)";


//-----------------------------
//------Main-page--------------
//-----------------------------
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
body{
	font: 15px/1.15 arial, sans-serif;
	background-color: $greyBG;
}
label{
	cursor: pointer;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.button{
	border: 1px solid;
	border-radius: 5px;
	height: $inputHeight;
	min-width: 100px;
	&-green{
		background-color: $lightGreen;
		color: white;
	}&-red{
		border-color: $darkRed;
		color: $darkRed;
	}
}
.hidden{
	display: none;
}
.container{
	margin: 0 auto;
	padding:20px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	@media #{$phone}{
		flex-direction: column;
		align-items: center;
	}
	@media #{$pc}{
		flex-direction: row;
	}
}
.block{
	background-color:$whiteBG;
	padding: 20px;
	min-height: 300px;
	@media #{$pc}{
		width: 45%;
	}
	@media #{$phone}{
		width: 90%;
	}
	&__title{
		font-size: 30px;
	}
	.add-item{
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		.input-name{
			border: 1px solid black;
			height: $inputHeight;
			padding-left: 20px;
			width:70%;
		}
		.button{
			width: 28%
		}
	}
	.items{
		padding-top: 15px;
		.item{
			display: flex;
			height: $itemHeight;
			justify-content: space-between;
			align-items: center;
			.item-info{
				display:flex;
				align-items: center;
			}
			.number-green{
				@extend .button-green;
				border-radius: 50%;
				margin-left: 5px;
				padding: 0 5px;
			}
		}
		.radio-element:checked + .item{
			background-color: darken($whiteBG, 5%);
			.item-name{
				margin-left:18px;
			}
			.item-info:before{
				content:".";
				background-color: $darkRed;
				height: $itemHeight;
				width: 5px;
				display: inline-block;
				margin-left: -23px;
			}
		}
	}
	.picture{
			margin-right:10px;
			height: $itemHeight;
			min-width: $itemHeight;
		}
	.comment{
		min-height: $itemHeight;
		margin-top: 5px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		.picture{
			margin-top:10px;
		}	
		&__text{
			display: flex;
			flex-grow: 1;
		}
	}
	.pic-blue>.picture{
		background-color: $picBlue;
	}
	.pic-orange>.picture{
		background-color: $picOrange;
	}
	.add-comment{
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.picture{
			background-color: $darkGrey; 
		}
		.input-comment{
			display: flex;
			flex-grow: 1;
			border: 1px solid black;
			resize: none;
		}
}
}