<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main page</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/libs.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-app="AngApp">
	<div class="container" ng-controller="defaultCtrl as default">
		<div class="block">
			<h2 class="block__title">Items</h2>
			<form name="itemForm" class="add-item" novalidate ng-submit="AddItem(itemForm.$valid)">
				<input type="text" class="inp-name" required ng-model="item.name">
				<button class="button" type="submit">Add new</button>
			</form>
			<div class="items">
			<div ng-repeat="item in items track by item.number">
				<input type="radio" ng-model="$parent.active" value="{{item.number+1}}" id="radio_{{item.number}}">
				<label for="radio_{{item.number}}">
				<strong>{{item.name}}</strong>
				<span>{{item.comments.length}}</span>
				<button class="button button-red button-delete" ng-click="DeleteItem(item)">Delete</button>
				</label>
			</div>
			</div>
		</div>
		<div class="block" ng-if="(active+1)">
			<h2 class="block__title">Comments #{{active}}</h2>
			<div class="comments" ng-repeat="comment in comments">
				<strong>{{comment}}</strong>
			</div>
			<div class="comments">
				<form class="add-comment">
					<textarea type="text" class="input-comment" on-keyup="AddCommment()" keys="13" ng-model="$parent.comment"></textarea>
				</form>
			</div>
		</div>
	</div>	
</body>
</html>